*.o
*.so
*.tbl

Makefile.cosinc

build/cpu1/ci_lab/
build/cpu1/elf2cfetbl/
build/cpu1/exe/.cdskeyfile
build/cpu1/exe/.reservedkeyfile
build/cpu1/exe/.resetkeyfile
build/cpu1/exe/cf/
!build/cpu1/exe/cf/f42_ctrl_tbl.json
build/cpu1/exe/cFE_fs.tar
build/cpu1/exe/*.xml

build/cpu1/inc/

build/cpu1/cfs_lib/
build/cpu1/ds/
build/cpu1/fm/
build/cpu1/hc/
build/cpu1/hs/
build/cpu1/lc/
build/cpu1/mm/
build/cpu1/sc/
build/cpu1/f42/
build/cpu1/i42/
build/cpu1/osk_app_fw/

build/cpu1/sample_app/
build/cpu1/sample_lib/
build/cpu1/sch_lab/
build/cpu1/to_lab/
build/cpu1/bm/
build/cpu1/cs/
build/cpu1/expat_lib/
build/cpu1/kit_ci/
build/cpu1/kit_sch/
build/cpu1/kit_to/
build/cpu1/md/
build/cpu1/sim/
build/cpu1/tftp/

build/mission_inc/

cscope.out
